<% @meals.each do |meal| %></li>
	<li><%= image_tag meal.image.url(:thumb) %>
	<%= meal.name%>
	posted <%= time_ago_in_words(meal.created_at) %> ago.
  <%= link_to 'Edit', edit_meal_path(meal) %>
  <%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<%end%>
 
 