<h1>Meals</h1>

<%= will_paginate %>

<div class="container-fluid col-lg-12">
  <div class="row">
    <% @meals.each do |meal| %>
        <div class="col-lg-6">
          <%= image_tag meal.image.url(:thumb) %> <br>
         Name: <%= link_to meal.name, meal_path(meal) %> <br>
         Price: <%= meal.price %> <br>
         Weight: <%= meal.weight %> <br>
         Description: <%= truncate(meal.description, length: 40) %>
        </div>
    <% end %>
  </div>
</div>
  
<%= will_paginate %>
